@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    outline: 0;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 0;
}
body{
    direction: rtl;
    scroll-behavior: smooth;
    background: url(../images/quran-side-d1514176.png);
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin: auto;
    position: relative;
}
section{
    padding: 70px 0;
}
.section-title{
    font-size: 30px;
    text-align: center;
    color: #011757;
    margin-bottom: 50px;
    position: relative;
}
.section-title::before , .section-title::after{
    content: "";
    position: absolute;
    background-color: #011757;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.section-title::before{
    width: 50px;
    bottom: -10px;
}
.section-title::after{
    width: 100px;
    bottom: 0;
}
/* ****** Header **************************** */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s all ease-in-out;
}
.header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: 0.5s all ease-in-out;
}
.header.active{
    background-color: rgba(0, 0, 0, 0.6);
}
.header.active .header-content{
    height: 80px;
}
.logo{
    font-family: 'thuluth-decorated';
    font-size: 45px;
    color: #fff;
}
.header-content ul{
    display: flex;
}
.header-content ul li{
    position: relative;
    cursor: pointer;
    color: #fff;
    margin: 0 20px;
}
.header-content ul li::after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s all ease-in-out;
}
.header-content ul li:hover::after, .header-content ul li.active::after{
    width: 100%;
}
.bars{
    display: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/* ****** Main section **************************** */
.main{
    background: url(../images/background.jpg) center center/cover no-repeat;
}
.main-content{
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}
.main-content .title{
    color: #fff;
    position: absolute;
    top: 60%;
    right: 10%;
    transform: translateY(-50%);
}
.main-content .title h2{
    line-height: 1.9;
    font-size: 40px;
    margin-bottom: 30px;
}
.main-content .title .btn{
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    color: inherit;
    padding: 5px 10px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}
.title .btn i{
    font-size: 25px;
    margin-right: 15px;
}
.main-content .title .btn:hover{
    color: #000;
}
.main-content .title .btn::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transition: 0.3s;
}
.main-content .title .btn:hover::after{
    width: 100%;
}
/* ****** Hadith section **************************** */
.hadith-content{
    min-height: 350px;
    position: relative;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset ,
    -4px -4px 4px 0 #d1d9e6 inset;
    color: #232323;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    padding-top: 70px;
    background-color: #fff;
}
.hadith .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.hadith .buttons button{
    background: linear-gradient(19deg, #02547d 100%, #0d0147 0%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.14) , 0 7px 10px -5px rgba(54, 54, 82, 0.5);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
}
.hadith .buttons .number{
    padding: 10px 20px;
    color: #011757;
    background: transparent;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.14) , 0 7px 10px -5px rgba(54, 54, 82, 0.5);
}
/* ****** Lectures section **************************** */
.lectures-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.lectures-content .right , .lectures-content .left{
    width: 48%;
}
.lectures-content .right .lec{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: #fff;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.lectures-content .right .lec:hover{
    transform: scale(0.95);
}
.lectures-content .right .lec .lec-text{
    width: calc(100% - 150px);
    color: #232323;
}
.lectures-content .right .lec .lec-text h4 {
    font-size: 19px
}
.lectures-content .right .lec .lec-text p {
    font-size: 16px;
}
.lectures-content .right .lec img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: auto;
}

.lectures-content .left{
    position: sticky;
    top: 0;
}
.lectures-content .left iframe{
    border-radius: 6px;
    width: 100%;
    height: 400px;
}
.lectures-content .left p{
    font-weight: bold;
}
/* ****** Quran section **************************** */

.surahsContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.surahsContent .surah{
    min-height: 100px;
    min-width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 5px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #232323;
    background-color: #fff;
    font-size: 17px;
}
.surahsContent .surah:hover{
    transform: scale(1.05);
}
/* ****** Pray section **************************** */
.pray .pray-content{
    display: flex;
    flex-wrap: wrap;
}
.pray-content .card{
    width: 250px;
    min-height: 320px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
    margin: 20px auto;
    background-color: #fff;
}
.pray-content .card .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pray-content .card .circle svg{
    width: 210px;
    height: 210px;
}
.circle svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #011757;
    transform: translate(5px , 5px);
    stroke-dasharray: 630;
    stroke-dashoffset: 1000;
    animation: dash 3s linear infinite;
}
@keyframes dash {
    to{
        stroke-dashoffset: 0;
    }
}
.circle .praytime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    font-family: cursive;
    color: #011757;
}
.card p{
    color: #011757;
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
/* ****** Pop Up ****** */
.surah-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(166, 211, 254);
    overflow-y: scroll;
    transform: translateX(100%);
}
.surah-popup.active {
    transform: translateX(0);
    transition: 0.5s transform ease-in-out;
}
.surah-popup::-webkit-scrollbar{
    width: 10px;
    background-color: #02547d;
}
.surah-popup::-webkit-scrollbar-thumb{
    background-color: #fff;
}
.close-popup{
    position: sticky;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #0d0147;
    background-color: #fff;
    cursor: pointer;
}
.surah-popup .ayat{
    padding: 20px;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-right: 30px;
    text-align: center;
    color: #121212;
    cursor: pointer;
}
.surah-popup .ayat p{
    width: 100%;
    border: 2px solid #53b4e4;
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 6px 0;
    font-family: 'Scheherazade New', serif;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s all ease-in-out;
    background-color: #fff;
}
.surah-popup .ayat p:hover{
    transform: translateY(-5px);
}
/* ****** Footer **************************** */
.footer{
    padding: 0;
}
footer svg {
    transform: translateY(10px);
}
footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02547d;
    padding-bottom: 10px;
}
footer .social a {
    color: #fff;
    margin: 10px;
    font-size: 30px;
    transition: 0.3s;
}
footer .social a:hover{
    color: #011757;
}
/* scrollBtn */
.scrollBtn{
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: #011757;
    
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    transition: 1s bottom ease-in-out;
    bottom: -50px;
}
.scrollBtn.active{
    bottom: 20px;
}
.scrollBtn:hover{
    background-color: #53b4e4;
}

/*Responsive*/
@media (max-width:1024px) {
    
    .header .bars {
        display: block;        
    }
    .header .header-content ul {
        position: fixed;
        left: 0;
        top: 80px;
        width: 230px;
        background-color: rgba(0, 0, 0, 0.6);
        flex-direction: column;
        padding: 0 50px;
        text-align: center;
        transform: translateX(-100%);
        transition: 0.5s transform ease-in-out;
    }
    .header .header-content ul.active{
       transform: translateX(0);
    }
    .header-content ul li {
        margin: 15px 0;
    }
    
    .lectures-content .right,
    .lectures-content .left {
        width: 98%;
    }
}
